
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
        }
        #paski{
            width:100%;
            background-color: black;
        }
        #container {
            width: 90%;
            margin: 0 auto;
            background-color: #c6a986;
            padding-bottom: 50px;

        }

        #Nagłówek {
            background-color: #a68966;
            border: 5px dotted; black;
            color: black;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            margin: 0;
        }

        
        .menu {
            display: flex; 
            justify-content: space-around;
            margin: 20px 0;
        }

        .link {
            display: block;
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            width: 150px; /* Stała szerokość przycisków */
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

        .link:hover {
            background-color: #a68966;
        }

        
        #treść {
            display: flex;
            justify-content: space-between;
            background-color: white;
            clear: both;
            padding: 20px;
            margin: 15px ;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }
		#box {
			display: flex;
            justify-content: space-between;
            padding: 20px;
            margin:200px;
			
           
			
		}

        .texty {
            width: 60%;
            padding-right: 20px;
        }

        .texty a {
            color: #333;
            text-decoration: none;
            font-size: 16px;
            line-height: 1.6;
            padding: 20px;
        }
         .texty h1 {
            color: black;
            text-decoration: none;
            font-size: 80px;
            line-height: 1.6;
            padding: 20px;
        }

        .tort {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tort img {
            max-width: 100%;
            border-radius: 10px;
        }

        #stopka {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px 0;
            margin-top: 20px;
        }
		.kup {
			font-size:20px;
            display: inline-block;
            background-color:#a68966;
            color: black;
            padding: 10px 120px;
            text-decoration: none;
            border-radius: 20px;
            margin: 0px 20px;
            margin-bottom: 30px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            right: 10px;
            float: right;


			
        }

        .kup:hover {
            background-color: #866946;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
		.gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .gallery img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }

        .gallery img:hover {
            transform: scale(1.1);
        }
		.kontakt {
            text-align: center;
            margin: 40px 0;
        }

        .kontakt p {
            font-size: 20px;
            color: #333;
        }

		.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    display: block;
    width: 200px;
    margin: -100px auto;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


.button-facebook {
    background-color: #3b5998;
}

.button-instagram {
    background-color: #fcb31e;
}

.button-maps {
    background-color: #20a362;
}

.button-container a:hover {
    background-color: #e64a19;
}
@font-face {
    font-family: 'Brastagi';
    src: url('fonts/Brastagi.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
		
